
body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    letter-spacing: .1rem;    
}

h4 {
    font-weight: bolder;
    font-size: 4rem;
    letter-spacing: .05rem;    
}
p {
    margin: .1rem;
}
.logo {
    display: block;
    margin: auto;
}
.text {
    /* font-weight: bolder; */
    font-size: 8pt;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding-left: .2rem;
    padding-right: .2rem;
}
.bottom-link {
    font-family: sans-serif;
    text-decoration: none;
    /* font-size: 1.3rem; */
    font-size: 8pt;
    color: #000;
    text-transform: uppercase;
    padding-left: .2rem;
    padding-right: .2rem; 
    
}
a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #000;
}
.content {
    padding: 48px;
}